<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>ProyectoWeb</display-name>
  <welcome-file-list>
    <welcome-file>login.html</welcome-file>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    
  </welcome-file-list>
   <servlet>
      <description>Ejemplo de prueba</description>
      <display-name>Prueba</display-name>
      <servlet-name>Prueba</servlet-name>
      <servlet-class>Prueba</servlet-class>
  </servlet>
  
  <servlet-mapping>
      <servlet-name>Prueba</servlet-name>
      <url-pattern>/Prueba</url-pattern>
      
  </servlet-mapping>
  
 <!-- prueba de mensaje de erros lo comento al servlet --> 
 
  <servlet>
      <description>Ejemplo de Listar Sueldos</description>
      <display-name>ListarSueldos</display-name>
      <servlet-name>ListarSueldos</servlet-name>
      <servlet-class>com.ejemplo.servlet.ListarSueldos</servlet-class>
  </servlet>
  
  <servlet-mapping>
      <servlet-name>ListarSueldos</servlet-name>
      <url-pattern>/ListarSueldos</url-pattern>
  </servlet-mapping>
  
   
  
  <servlet>
      <description>Ejemplo base datos</description>
      <display-name>Ejemplo</display-name>
      <servlet-name>Ejemplo</servlet-name>
      <servlet-class>com.ejemplo.servlet.Ejemplo</servlet-class>
  </servlet>
  
  <servlet-mapping>
      <servlet-name>Ejemplo</servlet-name>
      <url-pattern>/Ejemplo</url-pattern>
  </servlet-mapping>
  
  <servlet>
      <description>Eejemplo bd hiber</description>
      <display-name>EjemploEmpleado</display-name>
      <servlet-name>EjemploEmpleado</servlet-name>
      <servlet-class>com.ejemplo.servlet.EjemploEmpleado</servlet-class>
       
   </servlet>
   <servlet-mapping>
      <servlet-name>EjemploEmpleado</servlet-name>
      <url-pattern>/EjemploEmpleado</url-pattern>
           
   </servlet-mapping>

   <servlet>
       <description>Ejemplo salario</description>
       <display-name>IncrementarSalario</display-name>
       <servlet-name>IncrementarSalario</servlet-name>
       <servlet-class>com.ejemplo.servlet.IncrementarSalario</servlet-class>
       
       <init-param>
           <param-name>n2</param-name>
           <param-value>200</param-value>
           
       </init-param>
       
    </servlet>
    <servlet-mapping>
        <servlet-name>IncrementarSalario</servlet-name>
        <url-pattern>/IncrementarSalario</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <description>Ejemplo Autenticacion</description>
        <display-name>ServletAutenticacion</display-name>
        <servlet-name>ServletAutenticacion</servlet-name>
        <servlet-class>com.ejemplo.servlet.ServletAutenticacion</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>ServletAutenticacion</servlet-name>
        <url-pattern>/ServletAutenticacion</url-pattern>
    </servlet-mapping>
   
    <servlet>
        <description>Ejemplo de session</description>
        <display-name>MiSession</display-name>
        <servlet-name>MiSession</servlet-name>
        <servlet-class>com.ejemplo.session.MiSession</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>MiSession</servlet-name>
        <url-pattern>/MiSession</url-pattern>
    </servlet-mapping>
    
    
    <servlet>
        <description>Usuarios Activos</description>
        <display-name>ListaDepartamento</display-name>
        <servlet-name>ListaDepartamento</servlet-name>
        <servlet-class>com.ejemplo.servlet.ListaDepartamento</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ListaDepartamento</servlet-name>
        <url-pattern>/ListaDepartamento</url-pattern>
     </servlet-mapping>
     
    <servlet>
        <description>Servlet Redirecciona a otra pagina</description>
        <display-name>ServletRedireccionar</display-name>
        <servlet-name>ServletRedireccionar</servlet-name>
        <servlet-class>com.ejemplo.servlet.ServletRedireccionar</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletRedireccionar</servlet-name>
        <url-pattern>/ServletRedireccionar</url-pattern>
     </servlet-mapping>
     
    
    <servlet>
        <description>Servlet  a otra pagina</description>
        <display-name>ServletUsuariosActivos</display-name>
        <servlet-name>ServletUsuariosActivos</servlet-name>
        <servlet-class>com.ejemplo.servlet.ServletUsuariosActivos</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletUsuariosActivos</servlet-name>
        <url-pattern>/ServletUsuariosActivos</url-pattern>
     </servlet-mapping>
     
	
	    <servlet>
        <description>Servlet para cerrar session</description>
        <display-name>CerrarSession</display-name>
        <servlet-name>CerrarSession</servlet-name>
        <servlet-class>com.ejemplo.servlet.CerrarSession</servlet-class>
   		 </servlet>
   	 <servlet-mapping>
        <servlet-name>CerrarSession</servlet-name>
        <url-pattern>/CerrarSession</url-pattern>
     </servlet-mapping>    
    
   	 <servlet>
   	     <description>Servlet error</description>
   	     <display-name>ServletError</display-name>
   	     <servlet-name>ServletError</servlet-name>
   	     <servlet-class>com.ejemplo.servlet.ServletError</servlet-class>
   	 </servlet>
   	 <servlet-mapping>
   	     <servlet-name>ServletError</servlet-name>
   	     <url-pattern>/ServletError</url-pattern>
   	 </servlet-mapping>
   	 
	   	 <servlet>
   	     <description>Servlet Listado por Departtamentos</description>
   	     <display-name>EmpleadosPorDepartamento</display-name>
   	     <servlet-name>EmpleadosPorDepartamento</servlet-name>
   	     <servlet-class>com.ejemplo.servlet.EmpleadosPorDepartamento</servlet-class>
   	 </servlet>
   	 <servlet-mapping>
   	     <servlet-name>EmpleadosPorDepartamento</servlet-name>
   	     <url-pattern>/EmpleadosPorDepartamento</url-pattern>
   	 </servlet-mapping>   	 
   	 
   	 
   	 <!-- servlet pagina de errores -->
   	 <error-page>
   	     <error-code>404</error-code>
   	     <location>/ServletError</location>   	     
   	 </error-page>
   	 
   	 <error-page>
   	     <exception-type>javax.servlet.ServletException</exception-type>
   	     <location>/ServletError</location>   	     
   	 </error-page>
   	 
   
   <!-- listener -->
   <listener>
       <listener-class>com.ejemplo.listeners.ListenerHttp</listener-class>
   </listener>
    <listener>
       <listener-class>com.ejemplo.listeners.ListenerServletContext</listener-class>
   </listener>
   <listener>
       <listener-class>com.ejemplo.listeners.ListenerServletRequest</listener-class>
   </listener>
  
   
   <!-- filtrtossss -->
   
  <!-- <filter>
    <filter-name>Filtro</filter-name>
    <filter-class>com.ejemplo.filtros.Filtro</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>Filtro</filter-name>
    <url-pattern>/*</url-pattern> 
  </filter-mapping>   
   -->
  
  
  <!-- servlet context -->
 
 <!--   <context-param>
      <param-name>username</param-name>
      <param-value>system</param-value>
  </context-param> -->
 
  <!-- parametrizando fin de una session para 2 minutos -->
  <session-config>
      <session-timeout>4</session-timeout>
  </session-config>
  
  
  
  
 
</web-app>